:root {
    --backgroundMode: white;
    --textMode: black;
    --borderMode: black;
}

*{
    margin: 0;
    background-color: var(--backgroundMode);
}

header {
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    padding: 30px;
    border: 4px solid var(--borderMode);
    justify-content: space-between;
}

header span:hover {
    opacity: 0.5;
    cursor: pointer;
}

header nav {
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    text-align: right;
}

header button {
    margin-right: 15px;
    color: var(--backgroundMode);
    background-color: var(--textMode);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 98.5vw;
    border: 4px solid var(--borderMode);
    border-radius: 7px;
    margin: 5px 5px;
    padding: 10px;
    color: var(--textMode);

}

main section h3 {
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid var(--borderMode);
}

main section p {
    font-size: 20px;
    font-style: italic;
    position: relative;
    left: 2vw;
    margin: 10px 0px;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    border: 4px solid var(--borderMode);
    color: var(--textMode);
}

