:root {
    --lightMode: white;
    --darkMode: black;
}

*{
    margin: 0;

}

header {
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    padding: 30px;
    border: 4px solid black;
    justify-content: space-between;
}

header span:hover {
    opacity: 0.5;
    cursor: pointer;
}

header nav {
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    text-align: right;
}

header button {
    margin-right: 15px;
}

main {

}

main section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 98.5vw;
    border: 4px solid black;
    border-radius: 7px;
    margin: 5px 5px;
    padding: 10px;

}

main section h3 {
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

main section p {
    font-size: 20px;
    font-style: italic;
    position: relative;
    left: 2vw;
    margin: 10px 0px;
}

main section h4 {
    
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    border: 4px solid black;
}

