:root {
    --backgroundMode: white;
    --textMode: black;
    --borderMode: black;
}

*{
    margin: 0;

}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
    margin-top: 10vw;
    color: var(--textMode);
}
form h1 {
    margin: 5px 0px 5px 16vw;
}

form label {
    margin: 5px;
}

form input {
    margin: 5px;
    color: var(--textMode);
}

button {
    margin: 5px 0px 5px 0px;
    color: var(--backgroundMode);
    background-color: var(--textMode);
    width: 46vw;
}

form #content {
    height: 60px;
    color: var(--textMode);
}